<style>
.tugg-widget-container {
    background-color: transparent;
}
.tugg-logo-name {
    color:white !important, font-family: impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
}
.title-details .col-xs-12 {
    color:white !important, font-family: impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
}
.no-margin-t {
    color:white !important, font-family: impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
}
.margin-t-8 {
    color:white !important, font-family: impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
}
.font-20 {
    color:white !important, font-family: impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
}
.margin-t-6 {
    color:white !important, font-family: impact, impact-w01-2010, impact-w02-2010, impact-w10-2010, sans-serif;
}
.hidden-xs {
    display: none !important;
}
</style>
