<style>
.tugg-widget-container {
    background-color: transparent;
}
.tugg-logo-name {
    color: white !important;
}
.title-details .col-xs-12 {
    color: white !important;
}
.no-margin-t {
    color: white !important;
}
.margin-t-8 {
    color: white !important;
}
.font-20 {
    color: white !important;
}
.margin-t-6 {
    color: white !important;
}
.hidden-xs {
    display: none !important;
}
.hidden-xs img {
    display: none !important;
}
</style>
