<style>
#form-box > div.title-details {
    margin-top: -20px !important;
}
#form-box > div.title-details > div:nth-child(1) > div > h1 {
    margin-top: -4px !important;
}
.tugg-widget-container {
    background-color: transparent;
}
.tugg-logo-name {
    color: white !important;
    font-family: Impact, Charcoal, sans-serif !important;
}
.title-details .col-xs-12 {
    color: white !important;
    font-family: Impact, Charcoal, sans-serif !important;
}
.no-margin-t {
    color: white !important;
    font-family: Impact, Charcoal, sans-serif !important;
}
.margin-t-8 {
    color: white !important;
    font-family: Impact, Charcoal, sans-serif !important;
}
.font-20 {
    color: white !important;
    font-family: Impact, Charcoal, sans-serif !important;
}
.margin-t-6 {
    color: white !important;
    font-family: Impact, Charcoal, sans-serif !important;
}
#subscribe-form > div > div.col-xs-12.margin-t-25.text-center > form {
    color: white !important;
    font-family: Impact, Charcoal, sans-serif !important;
}
.hidden-xs {
    display: none !important;
}
#form-box > div.row > div > div {
    display: none !important;
}
div br {
    display: none;
}
iframe {
    overflow: hidden;
}
#list_view > div.widget-event-list.widget-upcoming-event{
    color: white !important;
    font-family: Impact, Charcoal, sans-serif !important;
}
</style>
